<div class="section section-dark">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">NUESTROS PROYECTOS</h2>
                    <h5 class="description">RTZ Contratistas Generales ha realizado gran número de proyectos de diferentes características y en distintos entornos, lo que nos ha dado una visión mas amplia del rubro de la construcción.</h5>
                    <br>

                </div>
            </div>
            <br/><br/>
            <div class="row">
                <ng-container *ngFor="let proyecto of allProyectos; let i=index">
                    <div class="col-md-6">
                        <div class="banner">
                            <div class="capa-color"></div>
                            <div class="capa-imagen"><img src="{{proyecto.imagen}}" /></div>
                            <div class="capa-texto">
                                <div>
                                    <h3>{{proyecto.titulo}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>