<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/home/homebanner.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">CREAMOS ESPACIOS PARA EXPERIENCIAS ÚNICAS</h1>
                </div>

                <h2 class="presentation-subtitle text-center"></h2>
            </div>
        </div>
        <h6 class=" category-absolute ml-auto mr-auto">    
        </h6>
    </div>

    <div class="main">
      <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>  
    </div>
</div>
