<div class="wrapper">

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="wrapper">
                <div class="page-header section-dark" style="background-image: url('assets/img/home/homebanner.png')" alt="First slide">
                    <div class="filter"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="title-brand">
                                <h1 class="presentation-title">CREAMOS ESPACIOS PARA EXPERIENCIAS ÚNICAS</h1>
                            </div>
                        </div>
                    </div>
                    <h6 class=" category-absolute ml-auto mr-auto">
                    </h6>
                </div>
            </div>
            <div class="carousel-caption" style="display:none;">
                <h3>First Slide</h3>
                <p> Angular 10 Carousel Example </p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <div class="page-header section-dark" style="background-image: url('assets/img/home/img3.png')" alt="First slide">
                    <div class="filter"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="title-brand">
                                <h1 class="presentation-title">CREAMOS ESPACIOS PARA EXPERIENCIAS ÚNICAS</h1>
                            </div>
                        </div>
                    </div>
                    <h6 class=" category-absolute ml-auto mr-auto">
                    </h6>
                </div>
            </div>
            <div class="carousel-caption" style="display:none;">
                <h3>Second Slide</h3>
                <p> Check out Techiediaries</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <div class="page-header section-dark" style="background-image: url('assets/img/home/img2.png')" alt="First slide">
                    <div class="filter"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="title-brand">
                                <h1 class="presentation-title">CREAMOS ESPACIOS PARA EXPERIENCIAS ÚNICAS</h1>
                            </div>
                        </div>
                    </div>
                    <h6 class=" category-absolute ml-auto mr-auto">
                    </h6>
                </div>
            </div>
            <div class="carousel-caption" style="display:none;">
                <h3>Third Slide</h3>
                <p>for full tutorial...</p>
            </div>
        </ng-template>
    </ngb-carousel>

    <div class="section">
        <div class="container">
            <div class="row" id="modals">
                <div class="col-md-6">
                    <div class="tim-title">
                        <h3>NUESTROS SERVICIOS</h3>
                    </div>
                    <app-modal-component></app-modal-component>
                    <p>RTZ CONTRATISTAS GENERALES SAC es una empresa constructora que a lo largo de los 5 años de experiencia ha sido capaz de reunir los requisitos indispensables para desempeñar correctamente proyectos y ejecución de obras. garantizando
                        la mejor calidad del servicio, ética, responsabilidad y confianza a nuestros clientes.

                        <button class="btn btn-outline-danger btn-round">VER MÁS SERVICIOS</button>
                </div>
                <div class="col-md-6">



                    <div class="framebox">
                        <div class="owl-carousel">
                            <a class="item item1">1</a>
                            <a class="item item2">2</a>
                            <a class="item item3">3</a>
                            <a class="item item4">4</a>
                        </div>
                    </div>







                </div>
            </div>
        </div>

    </div>

    <div class="main">
        <app-basicelements></app-basicelements>
        <app-navigation></app-navigation>
    </div>




    <section>
        <div class="container">
            <div class="row headline">
                <div class="col-xs-12 col-lg-12">
                    <h2>The best design<br> for your studio website</h2>
                </div>
            </div>
        </div>
        <div class="slider_report">
            <section class="variable slider">
                <div>
                    <div class="item1 slider_card">

                        <div class="body_card">
                            <div class="slider_text">
                                <h2>Name</h2>
                                <p class="top8">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat, viverra magna risus.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="item2 slider_card">

                        <div class="body_card">
                            <div class="slider_text">
                                <h2>Name</h2>
                                <p class="top8">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat, viverra magna risus.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="item3 slider_card">

                        <div class="body_card">
                            <div class="slider_text">
                                <h2>Name</h2>
                                <p class="top8">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat, viverra magna risus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">

                        <div class="body_card">
                            <div class="slider_text">
                                <h2>Name</h2>
                                <p class="top8">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat, viverra magna risus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container arrow">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <ul>
                        <li class="prev">
                            <button class="slick-prev slick-arrow" aria-label="Previous" type="button"><svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.6">
                        <path d="M39.5251 23.8557V27.3974H18.2751L28.0147 37.137L25.5001 39.6516L11.4751 25.6266L25.5001 11.6016L28.0147 14.1161L18.2751 23.8557H39.5251Z" fill="#11131E" />
                      </g>
                    </svg>
                  </button>
                        </li>
                        <li class="next">
                            <button class="slick-next slick-arrow" aria-label="Next" type="button"><svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.6">
                        <path d="M11.4751 23.8557V27.3974H32.7251L22.9855 37.137L25.5001 39.6516L39.5251 25.6266L25.5001 11.6016L22.9855 14.1161L32.7251 23.8557H11.4751Z" fill="#11131E" />
                      </g>
                    </svg>
                  </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>














    <div class="section">
        <div class="container tim-container">
            <div id="images">
                <div class="container">
                    <div class="tim-title" style="text-align: center;">
                        <h3>NUESTROS CLIENTES POTENCIALES</h3>
                    </div>
                    <div class="row">

                        <div class="card-slider">
                            <div class="card">
                                <a href="#" target="_blank" class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/uriel-soberanes.png" alt="escribe el nombre">
                                    </div>
                                </a>
                            </div>

                            <div class="card">
                                <a href="#" target="_blank" class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/joe-gardner-2.png" alt="escribe el nombre">
                                    </div>
                                </a>
                            </div>

                            <div class="card">
                                <a href="#" target="_blank" class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/clem-onojeghuo-3.png" alt="escribe el nombre">
                                    </div>
                                </a>

                            </div>

                            <div class="card">
                                <a href="#" target="_blank" class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/ESTREMADOYRO.png" alt="escribe el nombre">
                                    </div>
                                </a>
                            </div>

                            <div class="card">
                                <a href="#" target="_blank" class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/uriel-soberanes.png" alt="escribe el nombre">
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>








</div>