<div class="wrapper">

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="wrapper">
                <div class="page-header section-dark" style="background-image: url('assets/img/home/homebanner.png')" alt="First slide">
                    <div class="filter"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="title-brand">
                                <h1 class="presentation-title">CREAMOS ESPACIOS PARA EXPERIENCIAS ÚNICAS</h1>
                            </div>
                        </div>
                    </div>
                    <h6 class=" category-absolute ml-auto mr-auto">
                    </h6>
                </div>
            </div>
            <div class="carousel-caption" style="display:none;">
                <h3>First Slide</h3>
                <p> Angular 10 Carousel Example </p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <div class="page-header section-dark" style="background-image: url('assets/img/home/img3.png')" alt="First slide">
                    <div class="filter"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="title-brand">
                                <h1 class="presentation-title">CREAMOS ESPACIOS PARA EXPERIENCIAS ÚNICAS</h1>
                            </div>
                        </div>
                    </div>
                    <h6 class=" category-absolute ml-auto mr-auto">
                    </h6>
                </div>
            </div>
            <div class="carousel-caption" style="display:none;">
                <h3>Second Slide</h3>
                <p> Check out Techiediaries</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <div class="page-header section-dark" style="background-image: url('assets/img/home/img2.png')" alt="First slide">
                    <div class="filter"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="title-brand">
                                <h1 class="presentation-title">CREAMOS ESPACIOS PARA EXPERIENCIAS ÚNICAS</h1>
                            </div>
                        </div>
                    </div>
                    <h6 class=" category-absolute ml-auto mr-auto">
                    </h6>
                </div>
            </div>
            <div class="carousel-caption" style="display:none;">
                <h3>Third Slide</h3>
                <p>for full tutorial...</p>
            </div>
        </ng-template>
    </ngb-carousel>

    <div class="section">
        <div class="container">
            <div class="row" id="modals">
                <div class="col-md-6">
                    <div class="tim-title">
                        <h3>NUESTROS SERVICIOS</h3>
                    </div>
                    <app-modal-component></app-modal-component>
                    <p>RTZ CONTRATISTAS GENERALES SAC es una empresa constructora que a lo largo de los 5 años de experiencia ha sido capaz de reunir los requisitos indispensables para desempeñar correctamente proyectos y ejecución de obras. garantizando
                        la mejor calidad del servicio, ética, responsabilidad y confianza a sus clientes.

                        <button class="btn btn-outline-danger btn-round">VER MÁS SERVICIOS</button>
                </div>
                <div class="col-md-6">



                    <div class="framebox">
                        <div class="owl-carousel">
                            <a class="item item1">1</a>
                            <a class="item item2">2</a>
                            <a class="item item3">3</a>
                            <a class="item item4">4</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="main">
        <app-basicelements></app-basicelements>
        <app-navigation></app-navigation>
    </div>




    </div>
        <div class="container">
            <div class="row headline">
                <div class="col-xs-12 col-lg-12 amoi">
                    <h2 >NUESTROS CLIENTES<br>ESTÁN SATISFECHOS</h2>
                </div>
            </div>
        </div>
        <div class="slider_report">
            <section class="variable slider">
                <div>
                    <div class="item1 slider_card">

                        <div class="body_card moo">
                            <div class="slider_text">
                                <h2>REMODELACIÓN Y AMPLIACIÓN DEL HOTEL ESTELAR</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/AMPLIACION DEL HOTEL ESTELAR.PNG" alt="REMODELACIÓN Y AMPLIACIÓN DEL HOTEL ESTELAR">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item2 slider_card">

                        <div class="body_card">
                            <div class="slider_text">
                                <h2>EDIFICIO MULTIFAMILIAR "RESIDENCIAL ARTIGAS"</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/ARTIGAS.PNG" alt="EDIFICIO MULTIFAMILIAR RESIDENCIAL ARTIGAS">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item3 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>CONDOMINIO PASEO SAN MARTIN TORRES</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/CONDOMINIO PASEO SAN MARTIN.PNG" alt="CONDOMINIO PASEO SAN MARTIN TORRES">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>E28 ESPACIOS</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/E28 ESPACIOS.PNG" alt="E28 ESPACIOS">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>EDIFICIO MULTIFAMILIAR KASURI</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/EDIFICIOMULTKASURI.png" alt="EDIFICIO MULTIFAMILIAR KASURI">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>EL ENCANTO DE SAN DIEGO</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/elencantodesan diego.PNG" alt="EL ENCANTO DE SAN DIEGO">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>GALERIA FERIAL EL RELOJ MALVINAS PLAZA</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/galeria ferial.PNG" alt="GALERIA FERIAL EL RELOJ MALVINAS PLAZA">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>LOS PARQUES DE VILLASOL</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/losparques de villasol.PNG" alt="LOS PARQUES DE VILLASOL">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>HOSPITAL COTAHUASI</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/HOSPITALCOTAHUASI.PNG" alt="HOSPITAL COTAHUASI">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>IPAE REAL PLAZA CHICLAYO</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/IAPECHICLAYO.PNG" alt="IPAE REAL PLAZA CHICLAYO">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>COLEGIO INNVOVA SCHOOL SEDE ATE</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/COLEGIO INNVOVA SCHOOL SEDE ATE.PNG" alt="COLEGIO INNVOVA SCHOOL SEDE ATE">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>MALL PLAZA DE COMAS</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/MALLPLAZA DE COMAS.PNG" alt="MALL PLAZA DE COMAS">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>EDIFICIO RESIDENCIAL MARANGA N°175</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/MARANGA.PNG" alt="EDIFICIO RESIDENCIAL MARANGA N°175">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>MEJORAMIENTO DE LA I.E.P.N°86559 LIBERTADOR SAN MARTIN</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/MEJORAMIENTO DELA II.EESAN MARTIN.PNG" alt="MEJORAMIENTO DE LA I.E.P.N°86559 LIBERTADOR SAN MARTIN">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>PROYECTO POISE</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/PROYECTOPOISE.PNG" alt="PROYECTO POISE">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>REFACCION DE LAS INSTALACIONES SUNAT</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/REFACCIONDE LASINSTSUNAT.PNG" alt="REFACCION DE LAS INSTALACIONES SUNAT">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item4 slider_card">
                        <div class="body_card">
                            <div class="slider_text">
                                <h2>EDIFICIO MULTIFAMILIAR TEJADA</h2>
                                <p class="top8">
                                    <img style="height: auto !important;" src="assets/img/faces/TEJADA.PNG" alt="EDIFICIO MULTIFAMILIAR TEJADA">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            




                
            </section>
        </div>
        <div class="container arrow">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <ul>
                        <li class="prev">
                            <button class="slick-prev slick-arrow" aria-label="Previous" type="button"><svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.6">
                        <path d="M39.5251 23.8557V27.3974H18.2751L28.0147 37.137L25.5001 39.6516L11.4751 25.6266L25.5001 11.6016L28.0147 14.1161L18.2751 23.8557H39.5251Z" fill="#11131E" />
                      </g>
                    </svg>
                  </button>
                        </li>
                        <li class="next">
                            <button class="slick-next slick-arrow" aria-label="Next" type="button"><svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.6">
                        <path d="M11.4751 23.8557V27.3974H32.7251L22.9855 37.137L25.5001 39.6516L39.5251 25.6266L25.5001 11.6016L22.9855 14.1161L32.7251 23.8557H11.4751Z" fill="#11131E" />
                      </g>
                    </svg>
                  </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    

    <div class="item4 slider_card">
        <div class="item4 slider_card">
            <div class="body_card">
                <div class="slider_text">
                    <h2>CREAMOS ESPACIOS PARA EXPERIENCIAS UNICAS</h2>
                    <p class="top8">
                        <img style="height: auto !important;" src="assets/img/faces/experiencias.PNG" alt="CREAMOS ESPACIOS PARA EXPERIENCIAS UNICAS">
                    </p>
                </div>
            </div>
        </div>
    </div>
        <div class="container tim-container">
            <div id="images">
                <div class="container">
                    <div class="tim-title" style="text-align: center;">
                        <h3>NUESTROS CLIENTES POTENCIALES</h3>
                    </div>
                    <div class="row">

                        <div class="card-slider">
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/BALZOLA.png" alt="BALZOLA">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/CREATIVA.png" alt="CREATIVA">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/INARCO.png" alt="INARCO">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/ESTREMADOYRO.png" alt="ESTRAMAYDORO">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/AVATAR SAC.PNG" alt="AVATAR SAC">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/BIABO.PNG" alt="BIABO">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/CEINSA.PNG" alt="CEINSA">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/CONCRETA.PNG" alt="CONCRETA">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/CONSTRUYE PERÚ.PNG" alt="CONSTRUYE PERÚ">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/NUEVA AURORA.PNG" alt="NUEVA AURORA">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/OIG BIENES.PNG" alt="OIG BIENES">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/ERALMA.PNG" alt="ERALMA">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/PAREDES.PNG" alt="PAREDES">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/RUESMA.PNG" alt="RUESMA">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/TORRESCAMA.PNG" alt="TORRESCAMA">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/WESCOM.PNG" alt="WESCOM">
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a  class="main-link">
                                    <div class="image">
                                        <img style="height: auto !important;" src="assets/img/faces/YACU.PNG" alt="YACU">
                                    </div>
                                </a>
                            </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    







