<div class="section section-dark">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">asdasd</h2>
                    <h5 class="description">asdasd.</h5>
                    <br>

                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-6">
                    <h2>{{titulo}}</h2>
                    <p>{{descripcion}}</p>
                </div>
                <div class="col-md-6">
                    <img src="{{imagen}}" />
                </div>
            </div>
        </div>
    </div>