<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#/home">
                <img style="height: auto !important;" src="assets/img/logo.png" width="200" alt="RTZ Contratistas Generales">

            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/nosotros']" class="nav-link"> NOSOTROS</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/servicios']" class="nav-link"> SERVICIOS</a>
                </li>

                <li class="nav-item ">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><label [routerLink]="['/proyectos']">PROYECTOS</label></a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <ng-container *ngFor="let proyecto of allProyectos; let i=index">
                                <ng-container *ngIf="i+1 < 5">
                                    <a href="#/proyecto/{{proyecto.titulo}}" class="dropdown-item">{{proyecto.titulo}}</a>
                                </ng-container>
                            </ng-container>
                            <a [routerLink]="['/proyectos']" class="dropdown-item">Ver más proyectos</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a target="_blank" href="https://web.whatsapp.com/send?phone=51986669667&text=" class="btn btn-success btn-round">Cóntactanos</a>

                </li>

            </ul>
        </div>
    </div>
</nav>
